.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.task-done {
  color: grey;
  text-decoration: line-through;
}

.active-filter {
  background-color: aqua;
  color: whitesmoke;
}
